## messageSource=classpath:/merzacore/messages/email-quoteExpired_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#0468b3">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end
#macro(displayNegationForDiscount $priceData)
    #if (${priceData.value} > 0)
    -
    #end
    ${priceData.formattedValue}
#end

<!DOCTYPE html>
<html>
<head>
    <style>
        a
        {
            text-decoration: none;
            color:#0468b3;
        }
    </style>
</head>
<body>
    #set ($quoteHistoryUrl = "${ctx.secureBaseUrl}/my-account/my-quotes")
    #set ($quoteDetailsUrl = "${quoteHistoryUrl}/${ctx.quote.code}")
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="font-size:16px;background:#f4f4f4; margin-top: 5px">
    <tr>
		<td align="center" valign="top" style="background-color: #ffffff;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;">
			<table width="570" align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="top" bgcolor="#FFFFFF">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="boarder-collapse;">
                            <tr>
                                <td>
                                    ${ctx.cmsSlotContents.SiteLogo}
                                </td>
                            </tr>
                            <tr>
								<td bgcolor="#f4f4f4">
									<table style="width: 100%; height: 60px; border-collapse:collapse;" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td></td>
                                            <td valign="bottom" align="right" style="text-align:right; padding-left:20px;padding-right:20px;padding-bottom:20px;">
												<span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
													<a style="color: #0468b3;text-decoration: none;" href="${ctx.baseUrl}">${ctx.messages.help}</a> |
													<a style="color: #0468b3;text-decoration: none;" href="${ctx.messages.contactUsPage}">${ctx.messages.contactUs}</a> |
													<a style="color: #0468b3;text-decoration: none;" href="${ctx.baseUrl}">${ctx.messages.termsAndCondition}</a>
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td valign="middle">
                                    <div style="display:block; margin-top:10px;margin-bottom:10px;font-family:arial,helvetica,sans-serif; font-size: 14px;color:#19212b;text-decoration: none;">${ctx.cmsSlotContents.TopContent}</div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle">
                                    <a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
                                </td>
                            </tr>
                            <tr>
                                <td> </td>
                                </tr>
                            </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                               <td bgcolor="#F4F4F4" style="padding-top:26px;padding-bottom:50px;padding-right:35px;padding-left:40px;">
                <table style="width: 100%; height: 30px; border-collapse:collapse;" cellpadding="0">
                    <tbody>
                    <tr>
                        <td align="left" style="font-size: 14px;">© ${ctx.messages.year} ${ctx.messages.companyName} </td>
                        <td align="right" style="text-align: right;">
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                                <a style="color: #0468b3;text-decoration: none;" href="${ctx.baseUrl}">${ctx.messages.help}</a> |
                                <a style="color: #0468b3;text-decoration: none;" href="${ctx.messages.contactUsPage}">${ctx.messages.contactUs}</a> |
                                <a style="color: #0468b3;text-decoration: none;" href="${ctx.baseUrl}">${ctx.messages.termsAndCondition}</a>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td> </td>
    </tr>
</table>
</body>
</html>